@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,900&display=swap");
body {
  background-color: #0d3a7f; }

.section-for-navbar-brand {
  height: 89px;
  background-color: #ebf3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo-navbar-brand {
  width: 144px;
  height: 53px;
  padding-right: 0; }

.navbar-nav,
.navbar-nav > li {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 89px; }

.navbar-default .navbar-brand {
  width: 100%;
  color: #777; }

.navbar-header {
  padding: 0; }

.navbar,
.navbar-brand {
  height: 89px;
  border: none; }

.collapse,
.navbar-brand {
  padding: 0; }

.navbar-nav,
.navbar-nav > li {
  height: 89px;
  background-color: #fff; }

.navbar-collapse {
  background-color: #ffff; }

.navbar-nav > li {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navbar-nav .btn-menu {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: none;
  padding: 0; }

.navbar-nav .btn-menu:last-child {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.main-section-for-title-button {
  margin-top: 75px; }

@media (min-width: 1200px) {
  .col-lg-8 {
    width: 65% !important; }
  .col-lg-4 {
    width: 35% !important; } }

.navbar-nav .btn-menu:last-child {
  background-color: #0d3a7f; }

.navbar-default .navbar-nav > li > a {
  padding: 0; }

.navbar-default .navbar-nav .col-lg-2 {
  width: 39% !important; }

.navbar-nav .btn-menu h4 {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  height: 22px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.6px;
  text-align: center; }

.btn-call a {
  width: 89px;
  height: 89px;
  padding: 0;
  background-color: #fff; }

.navbar {
  margin-bottom: 0; }

.btn-call a {
  padding: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navbar-nav .btn-menu:last-child div:focus,
.navbar-nav .btn-menu:last-child div:hover {
  background-color: #0d3a7f; }

.background-sliders {
  padding: 0; }

.background-sliders img {
  background-repeat: no-repeat;
  height: 581px;
  width: 100%;
  height: 581px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  padding: 0; }

.title-section {
  height: 581px;
  padding: 0; }

.title-section .col-lg-6 {
  padding-right: 0;
  padding-left: 10px; }

.row {
  padding: 0;
  margin: 0; }

.main-title {
  width: 332px;
  height: 116px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff; }

.main-title span {
  width: 195px;
  height: 44px;
  opacity: 0.39;
  background-image: -webkit-gradient(linear, left top, right top, from(#16c2b8), to(rgba(22, 194, 184, 0)));
  background-image: -o-linear-gradient(left, #16c2b8, rgba(22, 194, 184, 0));
  background-image: linear-gradient(to right, #16c2b8, rgba(22, 194, 184, 0)); }

.main-text {
  width: 324px;
  height: 44px;
  margin-top: 5px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.7px;
  color: #ffffff;
  overflow: hidden; }

.section-for-button {
  width: 324px; }

.button-create-an-account {
  margin-bottom: 11px;
  margin-top: 20px;
  width: 218px;
  height: 65px;
  background-color: #16c2b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button-create-an-account p {
  text-transform: uppercase;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  margin: 0; }

.main-question-about-an-account {
  width: 230px;
  height: 22px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.6px;
  color: #ffffff; }

.main-question-about-an-account a {
  color: #16c2b8;
  text-decoration: none; }

.carousel-indicators {
  bottom: 320px !important; }

.carousel-indicators li {
  width: 8px;
  height: 8px;
  margin-right: 20px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.carousel-indicators .active {
  width: 9px;
  height: 9px;
  margin-right: 20px; }

.carousel-indicators {
  left: 50.5%; }

.carousel-sticker-information {
  width: 293px;
  height: 87px;
  background-color: #317b6c;
  position: relative;
  bottom: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 287px; }

.carousel-sticker-information-title {
  margin-top: 20px;
  width: 113px;
  height: 12px;
  opacity: 0.42;
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 0; }

.carousel-sticker-information-place {
  margin-top: 0;
  width: 265px;
  height: 43px;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0.65;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1.30px;
  color: #ffffff; }

.menu-option-selector div {
  height: 88px;
  background-color: #8ca0bf;
  position: relative;
  bottom: 175px; }

.menu-option-selector .col-lg-10 {
  width: 81.4% !important; }

.menu-option-selector .col-lg-offset-1 {
  margin-left: 9.3% !important; }

.menu-option-selector .col-lg-7 {
  width: 54.6% !important;
  position: relative;
  bottom: 175px;
  height: 88px;
  border: none;
  outline: 0; }

.menu-option-selector .col-lg-2 {
  width: 18.5% !important;
  position: relative;
  bottom: 175px;
  height: 88px;
  border: none;
  outline: 0; }

.menu-option-selector .col-lg-1 {
  position: relative;
  bottom: 175px;
  height: 88px;
  border: none;
  outline: 0; }

.red {
  background-color: red !important; }

.green {
  background-color: green !important; }

.blue {
  background-color: blue !important; }

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0; } }
